@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Domagoj Steinhauzer<br />
    Programsko inženjerstvo<br />
    2RP2</br>
</address>

<address>
    <strong>GitHub:</strong>   <a href="mailto:Support@example.com">https://github.com/dsteinh/</a><br />
</address>